<html lang="en" >
<head>
  <title>Cambridge Pub Map</title>
  <meta name="description" content="A Cambridge Pub Map in the Style of the Iconic London Underground Map" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:url" content="http://www.pubmap.co.uk/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Cambridge Pub Map" />
  <meta property="og:description" content="A Cambridge Pub Map in the Style of the Iconic London Underground Map" />
  <meta property="og:image" content="http://www.pubmap.co.uk/img/facebook.png" />
  <link href='https://fonts.googleapis.com/css?family=Hammersmith+One' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" href="tube-map.css">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
              (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-73123785-1', 'auto');
    ga('send', 'pageview');
  </script>
</head>
<body ng-app="pubMapApp" ng-cloak style="width:100%;height:100%;">
  <div ng-controller="PubMapCtrl" ng-cloak>
    <section layout="row" flex>
      <div layout="column" alyout-fill>
        <div ng-controller="SideNavCtrl" flex>
          <md-sidenav ng-switch="pub.title" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" style="overflow-x:hidden;position:fixed;" md-is-locked-open="$mdMedia('gt-md')" flex>
            <div ng-switch-when="Default Pub">
              <md-content layout-padding>
                <p>Click on a pub to get started</p>
                <p><md-button ng-click="selectNearestPub()">Go to your nearest pub</md-button></p>
              </md-content>
            </div>
            <div ng-switch-default layout-fill>
              <img ng-src="img/{{pub.name}}.jpg" err-src="img/Haymakers.jpg" width="320px" height="240px"></img>
              <div layout="row" layout-align="end">
                <md-button ng-click="addPub()" class="md-fab md-primary" style="margin: -30px 8px 10px; background-color: {{pub.backgroundColor}}" md-sidenav-focus aria-label="Add Pub">
                  <ng-md-icon icon="{{pub.clickIcon}}" style="fill: #ffffff;" ng-attr-style="fill: #ffffff;" size="32" options='{"duration": 375, "rotation": "clockwise"}'></ng-md-icon>
                </md-button>
              </div>
              <md-content layout-padding style="overflow-x: hidden; margin: -20px 0px">
                <h2 class="name">{{pub.title}}</h2>
                <p>{{pub.visited === true ? "You've been to this pub" : "You haven't been here yet"}}</p>
                <md-button ng-click="selectNearestPub()" aria-label="Select nearest pub">
                  <ng-md-icon icon="my_location"></ng-md-icon>
                </md-button>
                <div layout="row">
                  <md-button class="md-icon-button md-accent" aria-label="Favorite">
                    <md-icon class="material-icons">star</md-icon>
                  </md-button>
                  <md-button class="md-icon-button md-accent" aria-label="Favorite">
                    <md-icon class="material-icons">location_on</md-icon>
                  </md-button>
                  <md-button class="md-icon-button md-accent" aria-label="Favorite">
                    <md-icon class="material-icons">phone</md-icon>
                  </md-button>
                  <md-button class="md-icon-button md-accent" aria-label="Favorite">
                    <md-icon class="material-icons">share</md-icon>
                  </md-button>
                </div>
                <md-list>
                  <md-list-item>
                    <md-icon class="material-icons">location_on</md-icon>
                    <p>{{pub.address}}</p>
                  </md-list-item>
                  <md-list-item>
                    <md-icon class="material-icons">link</md-icon>
                    <p><a ng-href="{{pub.website}}">{{pub.website}}</a></p>
                  </md-list-item>
                  <md-list-item>
                    <md-icon class="material-icons">phone</md-icon>
                    <p>0800 028 0309</p>
                  </md-list-item>
                  <md-list-item>
                    <md-icon class="material-icons">access_time</md-icon>
                    <p>Closed</p>
                  </md-list-item>
                  <md-list-item>
                    <md-icon class="material-icons">directions</md-icon>
                    <p><a target="_blank" href="http://www.google.co.uk/maps?saddr=Current+Location&daddr={{pub.title}}">Directions</a></p>
                  </md-list-item>
                </md-list>
                <md-button ng-click="close()" class="md-primary">
                  Close
                </md-button>
              </md-content>
            </div>
          </md-sidenav>
        </div>
      </div>
      <md-content flex>
        <div layout="column" layout-align="center stretch">
          <div id="score" ng-show="numVisited > 0">
            <p>visited {{numVisited}}/{{totalPubs}}</p>
          </div>
          <div id="map"></div>
        </div>
      </md-content>
    </section>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/SVG-Morpheus/0.1.8/svg-morpheus.js"></script>

  <script src="src/d3.min.js" charset="utf-8"></script>
  <script src="src/tube-map.js"></script>
  <script src="src/tube-map-controller.js"></script>
</body>
</html>
