html, body
{
  height: 100%;
}

.container {
  min-height: 100%;
  display: flex;
}

#map-container {
  min-height: 100%;
  flex-grow: 1;
}

h1 {
  font-family: 'Hammersmith One', sans-serif;
}

#legend {
  font-family: 'Hammersmith One', sans-serif;
  min-width: 200px;
}

#legend li {
  list-style: none;
}

#awards li {
  /*display: inline;*/
}

#awards {
  display: inline;
  list-style: none;
}

text {
  font-family: 'Hammersmith One', sans-serif;
  color: #444444;
  font-size: 14px;
  cursor: pointer;
}


/* Bakerloo #b363305, District #00782a, Hammersmith and City #f3a9bb
 Jubilee #a0a5a9, Metropoliton #9b0056, Northern #000000
 Waterloo and City #95cdba
 DLR #00a4a7 */
