html, body
{
  height: 100%;
}

.container {
  min-height: 100%;
  display: flex;
}

#map-container {
  min-height: 100%;
  flex-grow: 1;
}

h1 {
  font-family: 'Hammersmith One', sans-serif;
}

#legend {
  font-family: 'Hammersmith One', sans-serif;
  min-width: 200px;
}

#legend li {
  list-style: none;
}

text {
  font-family: 'Hammersmith One', sans-serif;
  fill: #0019A8;
  font-size: 14px;
  cursor: pointer;
  font-weight: normal;
  transition: font-weight 100ms;
}

text.highlighted {
  font-weight: bold;
}


/* Bakerloo #b363305, District #00782a, Hammersmith and City #f3a9bb
 Jubilee #a0a5a9, Metropoliton #9b0056, Northern #000000
 Waterloo and City #95cdba, Victoria #0098D4
 DLR #00a4a7 */
