html, body
{
  height: 100%;
}

.md-sidenav-left p {
  font-size: 13px;
}

#score p {
  position: absolute;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 20px;
  left: auto;
  right: 1%;
  color: rgb(255, 255, 255);
  background: rgba(0, 0, 0, 0.7);
  font-family: 'Hammersmith One',sans-serif;
  fill: #0019A8;
  font-size: 36px;
  text-align: center;
}

h2.name {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0.2em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

text {
  font-family: 'Hammersmith One', sans-serif;
  fill: #0019A8;
  font-size: 14px;
  cursor: pointer;
  font-weight: normal;
  transition: font-weight 100ms;
}

text:hover {
  opacity: 0.6;
}

text.highlighted {
  text-decoration: line-through;
}

.line {
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.line.translucent {
  opacity: 0.1;
}

.station {
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.station.translucent {
  opacity: 0.1;
}

.interchange {
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.interchange.translucent {
  opacity: 0.3;
}

.label {
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.label.translucent {
  opacity: 0.1;
}
