html, body
{
  height: 100%;
}

.container {
  min-height: 100%;
  display: flex;
}

#map-container {
  min-height: 100%;
  flex-grow: 1;
}

h1 {
  font-family: 'Hammersmith One', sans-serif;
}

#legend {
  font-family: 'Hammersmith One', sans-serif;
  flex-basis: 300px;
}

#legend li {
  list-style: none;
}

text {
  font-family: 'Hammersmith One', sans-serif;
  fill: #0019A8;
  font-size: 14px;
  cursor: pointer;
  font-weight: normal;
  transition: font-weight 100ms;
}

text:hover {
  opacity: 0.6;
}

text.highlighted {
  text-decoration: line-through;
}

.line {
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.line.translucent {
  opacity: 0.3;
}

.station {
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.station.translucent {
  opacity: 0.3;
}
