html, body
{
  height: 100%;
}

.md-sidenav-left p {
  font-size: 13px;
}

#score p {
  position: absolute;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 20px;
  left: auto;
  right: 1%;
  color: rgba(0, 0, 0, 0.8);
  font-family: 'Hammersmith One',sans-serif;
  font-size: 36px;
  text-align: center;
}

h2.name {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0.2em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

text {
  font-family: 'Hammersmith One', sans-serif;
  fill: #0019A8;
  font-size: 14px;
  cursor: pointer;
  font-weight: normal;
}

/*text:hover {
  opacity: 0.6;
}*/

text.highlighted {
  text-decoration: line-through;
}

.line {
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.line.translucent {
  opacity: 0.1;
}

.station {
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.station.translucent {
  opacity: 0.1;
}

.interchange {
  transition-property: opacity;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.interchange.translucent {
  opacity: 0.3;
}

.label {
  transition-property: opacity;
  transform: scale3d(1, 1, 1);
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.label.translucent {
  opacity: 0.1;
}

.pulse {
  animation: pulse 2s ease infinite;
  transform-origin: 50% 50%;
}

.bounce {
  animation: rubberBand 2s ease infinite;
  transform-origin: center bottom;
}

@keyframes pulse {
  0%, 100%   {
  	transform: rotate(-10deg);
  }
  50% {
  	transform: rotate(10deg);
  }
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -10px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -5px, 0);
  }

  90% {
    transform: translate3d(0,-1px,0);
  }
}

@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, .95, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}
