<md-bottom-sheet-collapsible ng-cloak>
  <div layout="row" layout-align="end">
    <md-button ng-click="pubMap.togglePub()" class="md-fab md-primary directions-button" aria-label="Get directions">
      <ng-md-icon icon="directions" size="24"></ng-md-icon>
    </md-button>
  </div>
  <md-content layout-padding class="side-nav-content">
    <h2 class="name">{{pubMap.pub.title}}</h2>
    <md-list class="side-nav-info-list">
      <md-list-item class="side-nav-info-list">
        <md-icon class="material-icons side-nav-info-icon">location_on</md-icon>
        <p>{{pubMap.pub.address}}</p>
      </md-list-item>
      <md-list-item>
        <md-icon class="material-icons side-nav-info-icon">link</md-icon>
        <p><a target="_blank" ng-href="{{pubMap.pub.website}}">{{pubMap.pub.website | minimizeUrl}}</a></p>
      </md-list-item>
      <md-list-item>
        <md-icon class="material-icons side-nav-info-icon">phone</md-icon>
        <p><a href="tel:{{pubMap.pub.phone}}">{{pubMap.pub.phone}}</a></p>
      </md-list-item>
      <md-list-item>
        <md-icon class="material-icons side-nav-info-icon">directions</md-icon>
        <p><a href="" ng-click="pubMap.displayDirections()">Get directions</a></p>
      </md-list-item>
      <md-list-item ng-if="pubMap.pub.hasOwnProperty('opening_hours')">
        <md-icon class="material-icons side-nav-info-icon">access_time</md-icon>
        <p>{{pubMap.pub.opening_hours}}</p>
      </md-list-item>
    </md-list>
  </md-content>
</md-bottom-sheet-collapsible>
